<form [formGroup]="addGameForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput id="title" type="text" formControlName="title"/>
    <mat-error *ngIf="addGameForm.get('title')?.hasError('required')">The title is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Year</mat-label>
    <input matInput id="year" type="number" formControlName="year"/>
    <mat-error *ngIf="addGameForm.get('year')?.hasError('min')">The year can't be lower than 1970</mat-error>
    <mat-error *ngIf="addGameForm.get('year')?.hasError('max')">The year can't be greater than the current year</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Console</mat-label>
    <mat-select formControlName="consoleId">
      <mat-option *ngFor="let console of allConsoles" [value]="console.id">
        {{console.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="addGameForm.get('consoleId')?.hasError('required')">The console is required</mat-error>
  </mat-form-field>

  <mat-slide-toggle [checked]="isGameCompleted" (change)="onGameCompletedChanged()">Completed</mat-slide-toggle>

  <mat-form-field appearance="fill" *ngIf="isGameCompleted">
    <mat-label>Date of completion</mat-label>
    <input id="completionDate" matInput [max]="maxCompletionDate" [matDatepicker]="picker" formControlName="completionDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Personal notes</mat-label>
    <textarea matNativeControl id="personalNotes" formControlName="personalNotes">
    </textarea>
  </mat-form-field>

  <button type="submit" [disabled]="!addGameForm.valid">Submit</button>
</form>
